body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

header {
  background-image: url("../images/the-flatiron-building.png");
}

.design {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

footer {
  background-color: dimgray;
  text-align: left;
}

p {
  font-size: 14px;
}

nav a {
  font-size 18px;
}
